// here we declare all variables like colors for example

$main-text:#907424;       //like text in header
//COLOR VARIABLES
$main-text:#c5ab77;       //like text in header
$main-text-after:#e8e1d2;  //like "Home" in header of home page
$blue-text:#32b2cc;      //like "in game" in side bar
$green-text:#41a747;    // like "online" in side bar
$btn-background:#1e2228;   //like button "play"
$sidebar-text:#8f8e87;  //like "Real Life" in side bar
$light-blue: #a3c0c2;   //like "confirm" button in game page
$white-color: white;
$bg-color-box: #24272D;
$black:black;
$fake-background:#02111a; 
$fake-flag:#a12722;

